PORT=5000
MONGO_URI=mongodb+srv://ameypatil2820_db_user:OxPKzL2CqhcsUeGk@cluster0.ecp0hgz.mongodb.net/
NODE_ENV=development
JWT_SECRET=cybersentinel_jwt_secret_key_123_abc_xyz
JWT_EXPIRE=30d
GEMINI_API_KEY=your_gemini_api_key_here
